
<button type="button" class="btn btn-primary ml-2 mt-4" routerLink="/firstRoute" > Route- 1 </button>
<button type="button" class="btn btn-primary ml-2 mt-4" routerLink="/secondRoute"> Route- 2 </button>
<button type="button" class="btn btn-primary ml-2 mt-4" routerLink="/thirdRoute"> Route- 3 </button>
<button type="button" class="btn btn-primary ml-2 mt-4" routerLink="/fourthRoute"> Route- 4 </button>
<button type="button" class="btn btn-primary ml-2 mt-4" routerLink="/fifthRoute"> Route- 5 </button>
<button type="button" class="btn btn-primary ml-2 mt-4" routerLink="/sixthRoute"> Route- 6 </button>

<router-outlet></router-outlet>
 