.box{
    height: 200px;
    width: 200px;
    background: #fbfb82;
    margin: 5px;
    border: 1px solid;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    line-height: 162px;
    
    button{
      width: 100px;
    }
  }
  